* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    /* background-color: rgba(170, 170, 170, 1); */
}

/* font family's */



.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}


.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.manrope-font {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.cord-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: rgba(24, 25, 31, 1);
}

.price {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.cord-descript {
    font-size: 0.87rem;
    font-weight: bold;
    line-height: 143%;
    margin-top: 27px;
    color: rgba(120, 120, 133, 1);
}

/* nav bar */

.nav-bar {

    align-items: center;
    max-width: 1250px;
    justify-content: space-between;
    margin: 87px auto;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}

.menu-container {

    list-style: none;
    gap: 34px;

}

.menu-content {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}

.magnifying {
    width: 24px;
    height: 24px;
}

.shopping-cart {
    width: 36px;
    height: 36px;
}

/* header section */
.header {

    max-width: 1250px;
    height: 475px;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 70px;
}

.header-title {
    font-size: 3.25rem;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}

.header-descript {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}

.arrow {
    margin-left: -40px;
    margin-bottom: -7px;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 56px 10px 24px;
    border-radius: 41px;
    margin-top: 16px;
}

.camera-contaainer {
    height: 475px;
    width: 475px;
}

.camera {
    background-image: url("../images/Circle\ design.svg");
    width: 100%;
}

/* sponsor */
.sponsor {
    width: 1110px;
    height: 39px;
    margin: 36px auto 100px;
    flex-direction: row;
    justify-content: space-evenly;

}
/* .divider{
    margin: 0px auto 100px;
} */
.sponsor-img-container{
    margin: 36px auto 36px;
}
.divider{
    align-items: center;
}
.alibaba{
    width: 55px;
    height: 31px;
}
.amazon{
    width: 84px;
    height: 25px;
}
.daraz{
    width: 84px;
    height: 26px;
}
.ebay{
    width: 99px;
    height: 39px;
}
.rakuten{
    width: 97px;
    height: 28px;
}
.walmart{
    width: 111px;
    height: 26px;
}
.target{
    width: 91px;
    height: 38px;
}
/* Popular Collection */
.Collection {
    width: 1030px;
    height: 1662px;
    text-align: center;
    margin-top: 100px;
}

.section-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    text-align: center;

}

.collection-container {
    width: 1030px;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px auto;
    margin-top: 30px;
    gap: 30px;

}

.cord {
    width: 300px;
    height: 426px;
    align-items: center;
    padding: 17px 14px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.see-more{
    margin-left: 1385px;
    margin-top: -90px;
    background-color: #fff;
}
.featured{
    width: 1110px ;
    height: 270px;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    gap: 96px;
}
.feature-title{
    font-size: 2.3rem;
    font-weight: 700;
    color: rgba(10, 8, 38, 1);
    margin-bottom: 16px;
}
.feature-descript{
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.join-btn{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 56px 10px 24px;
}
.foter{
    width: 100%;
    height: 239px;
    background-color: rgba(10,8,38);
}
.content{
    width: 262px;
    height: 139px;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
}
.foter h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
.para{
    font-size: 0.87rem;
    font-weight: 700;
    color: #D9DBE1;
}
/* responsive section */
@media screen and (max-width: 576px) {
    .sponsor {
        width: 360px;
        height: 100%;
        margin: 60px 75px;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        /* text-align: center; */

    }


    .collection-container {
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
        height: 476px;
    }

    
    .menu-container {
        margin-top: 20px;
        gap: 15px;
    }

    .nav-bar,
    .menu-container {
        flex-direction: column;

    }

    .header {
        flex-direction: column-reverse;
        text-align: center;
        padding: 30px;
        height: 800px;
        /* margin-top: 50px; */
    }

}